/Audio/*
!/Audio/Proposito.txt
/Crudos/*
!/Crudos/Proposito.txt
/Datos/*
!/Datos/Proposito.txt
/Overlays/*
!/Overlays/Proposito.txt
/Renderizados/*
!/Renderizados/Proposito.txt
/Subtitulos/*
!/Subtitulos/Proposito.txt
